// vim: set filetype=nextflow

/*
 * Base config needed for running with -profile awsbatch
 */
params {
    config_profile_name = 'AWSBATCH'
    config_profile_description = 'AWSBATCH Cloud Profile'
    config_profile_contact = 'help@bio-rad.com'
    config_profile_url = 'www.bio-rad.com'
}

process.executor = 'awsbatch'
process.queue = params.awsqueue

aws {
    /*region = 'us-west-2'*/
    batch {
        /*volumes = ['/docker_scratch:/tmp']*/
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

