// vim: set filetype=nextflow

/* Defines reference genomes.
 * Can be used by any profile that customizes the base
 * path using $params.genomes_base / --genomes_base
 */

 params {
    genomes {
        'hg38' {
            'NONE' {
                geneId               = "gene_id"
                annoDir              = "${params.genomes_base}/hg38/anno_ncbi/"
                genomeDir            = "${params.genomes_base}/hg38/star_ncbi/"
                sjdbGTFFile          = "${params.genomes_base}/hg38/anno_ncbi/hg38_contigs_in_ref.gtf"
                refFlatFile          = "${params.genomes_base}/hg38/anno_ncbi/hg38_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/hg38/anno_ncbi/hg38_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/hg38/anno_ncbi/hg38_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/hg38/anno_ncbi/hg38_miRNA_annotation.gtf"
                longRNAgtfFile       = "${params.genomes_base}/hg38/anno_ncbi/hg38_longRNA_annotation.gtf"
                sizesFile            = "${params.genomes_base}/hg38/sizes/hg38.chrom.sizes"
            }
            'ercc' {

                geneId               = "gene_id"
                annoDir              = "${params.genomes_base}/hg38/anno_ncbi_ercc/"
                genomeDir            = "${params.genomes_base}/hg38/star_ncbi_ercc/"
                sjdbGTFFile          = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_contigs_in_ref.gtf"
                refFlatFile          = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_miRNA_annotation.gtf"
                longRNAgtfFile       = "${params.genomes_base}/hg38/anno_ncbi_ercc/hg38_longRNA_annotation.gtf"
                sizesFile            = "${params.genomes_base}/hg38/sizes/hg38_ercc.chrom.sizes"
            }
            'miltenyi' {

                geneId               = "gene_id"
                annoDir              = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/"
                genomeDir            = "${params.genomes_base}/hg38/star_ncbi_miltenyi/"
                sjdbGTFFile          = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_contigs_in_ref.gtf"
                refFlatFile          = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_miRNA_annotation.gtf"
                longRNAgtfFile       = "${params.genomes_base}/hg38/anno_ncbi_miltenyi/hg38_longRNA_annotation.gtf"
                sizesFile            = "${params.genomes_base}/hg38/sizes/hg38_miltenyi.chrom.sizes"
            }
        }
        'rnor6' {
            'NONE' {
                geneId               = "gene"
                annoDir              = "${params.genomes_base}/rnor6/anno_ncbi/"
                genomeDir            = "${params.genomes_base}/rnor6/star_ncbi/"
                sjdbGTFFile          = "${params.genomes_base}/rnor6/anno_ncbi/rnor6_contigs_in_ref.gff"
                refFlatFile          = "${params.genomes_base}/rnor6/anno_ncbi/rnor6_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/rnor6/anno_ncbi/rnor6_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/rnor6/anno_ncbi/Rnor6_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/rnor6/anno_ncbi/Rnor6_miRNA_annotation.gff"
                longRNAgtfFile       = "${params.genomes_base}/rnor6/anno_ncbi/Rnor6_longRNA_annotation.gff"
                sizesFile            = "${params.genomes_base}/rnor6/sizes/rnor6.chrom.sizes"
            }
            'ercc' {
                geneId               = "gene"
                annoDir              = "${params.genomes_base}/rnor6/anno_ncbi_ercc/"
                genomeDir            = "${params.genomes_base}/rnor6/star_ncbi_ercc/"
                sjdbGTFFile          = "${params.genomes_base}/rnor6/anno_ncbi_ercc/rnor6_contigs_in_ref.gff"
                refFlatFile          = "${params.genomes_base}/rnor6/anno_ncbi_ercc/rnor6_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/rnor6/anno_ncbi_ercc/rnor6_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/rnor6/anno_ncbi_ercc/Rnor6_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/rnor6/anno_ncbi_ercc/Rnor6_miRNA_annotation.gff"
                longRNAgtfFile       = "${params.genomes_base}/rnor6/anno_ncbi_ercc/Rnor6_longRNA_annotation.gff"
                sizesFile            = "${params.genomes_base}/rnor6/sizes/rnor6_ercc.chrom.sizes"
            }
        }
        'mm10' {

            'NONE' {
                geneId               = "gene"
                annoDir              = "${params.genomes_base}/mm10/anno_ncbi/"
                genomeDir            = "${params.genomes_base}/mm10/star_ncbi/"
                sjdbGTFFile          = "${params.genomes_base}/mm10/anno_ncbi/mm10_contigs_in_ref.gff"
                refFlatFile          = "${params.genomes_base}/mm10/anno_ncbi/mm10_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/mm10/anno_ncbi/mm10_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/mm10/anno_ncbi/mm10_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/mm10/anno_ncbi/mm10_miRNA_annotation.gff"
                longRNAgtfFile       = "${params.genomes_base}/mm10/anno_ncbi/mm10_longRNA_annotation.gff"
                sizesFile            = "${params.genomes_base}/mm10/sizes/mm10.chrom.sizes"
            }
            'ercc' {
                geneId               = "gene"
                annoDir              = "${params.genomes_base}/mm10/anno_ncbi_ercc/"
                genomeDir            = "${params.genomes_base}/mm10/star_ncbi_ercc/"
                sjdbGTFFile          = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_contigs_in_ref.gff"
                refFlatFile          = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_full_analysis_set.refseq_annotation.refflat"
                ribosomalIntervalFile = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_ribosomal_intervals.txt"
                miRNABedFile         = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_miRNA_annotation.bed"
                miRNAgtfFile         = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_miRNA_annotation.gff"
                longRNAgtfFile       = "${params.genomes_base}/mm10/anno_ncbi_ercc/mm10_longRNA_annotation.gff"
                sizesFile            = "${params.genomes_base}/mm10/sizes/mm10_ercc.chrom.sizes"
            }
        }
    }
}
