
// vim: set filetype=nextflow

/*
 * Base config needed for running with -profile smoketest
 */

params {
    config_profile_name = 'Smoketest Profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    max_cpus = 10
    max_memory = 30.GB
    max_time = 48.h

    // Input data
    reads = "$baseDir/data/hg38/Lib32_ERCC-sub/*_R{1,2}_*.fastq.gz"
    genome = "hg38"
}
